extends base


block content
    iframe(width="560" height="315" src=`${video.url}` title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen="")
    h4 #{video.description}
    ul
        li #{video.meta.views} #{video.meta.views ===1?"view":"views"}.            
        li #{video.meta.rating}/5
        li #{video.hashtags.join()}
        li #{video.comments} #{video.views ===1?"comment":"comments"}.
        li Posted #{video.createdAt}.
    a(href=`${video.id}/edit`) Edit video &rarr;
    br
    a(href=`${video.id}/delete`) Delete video &rarr;